.massage {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 99;
    animation: success-show 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.wrapper {
    position: relative;
    margin: 6rem 4rem 0;
    width: 60vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid #cacffd;
    border-radius: 40px;
    padding: 2em 0;

    h1 {
        text-align: center;
        color: #333;
    }

    hr {
        margin: -30px auto 50px;
        padding: 0;
        height: 50px;
        border: none;
        border-bottom: 4px solid #dfe2ff;
        box-shadow: 0 20px 20px -20px #333;
        width: 100%
    }
}

label {
    font-size: 20px;
    color: #333;
}

form {
    padding: 0 3em;

    div {
        padding: 15px;
    }


    textarea,
    input {
        border-radius: 10px;
        border: 1px solid #333;
        padding: 10px;
        color: #333;
        font-size: 18px;
    }

    .mail-theme {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            font-size: 18px;
            font-weight: 600;
            width: 70%;
        }
    }

    .mail-massage {
        display: flex;
        justify-content: space-between;
        align-items: center;

        textarea {
            width: 70%;
            resize: none;
            height: 250px;
            padding: 15px;
        }
    }

    .btn {
        position: relative;
        display: flex;
        justify-content: flex-end;

        .exit{
            padding: 0;
            margin-right: 20px;
        }
        .send{
            padding: 0;
        }

        #send-form {
            background-color: rgb(117, 0, 251);
            box-shadow: 0 7px 10px rgba(148, 70, 238, 0.445);
            color: #fff;

            &:hover {
                background-color: rgb(171, 97, 255);
            }
        }

        #exit {
            background-color: rgb(253, 50, 50);
            box-shadow: 0 7px 10px rgba(253, 50, 50, 0.466);
            color: #fff;

            &:hover {
                background-color: rgb(253, 110, 110);
            }
        }
    }

    

    input[type="submit"] {
        width: 120px;
        border: none;
        border-radius: 10px;
        border: 1px solid transparent;
        margin-bottom: -50px;
        font-size: 16px;

        transition: ease-in .2s;
        cursor: pointer;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        margin: 1em 4rem 0;
        width: 100vw;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border: 2px solid #cacffd;
        border-radius: 40px;
        position: relative;
        padding: 1em 0;

        h1 {
            width: 90vw;
            font-size: 24px;
            text-align: center;
            color: #333;
        }

        hr {
            margin-bottom: 20px;
            border: none;
            border-bottom: 4px solid #dfe2ff;
            box-shadow: 0 20px 20px -20px #333;
            width: 100%
        }
    }

    label {
        font-size: 18px;
        margin-bottom: .5em;
        color: #333;
    }

    form {
        padding: 0 2em;

        div {
            padding: 15px;
        }


        textarea,
        input {
            border-radius: 10px;
            border: 1px solid #333;
            padding: 10px;
            color: #333;
            font-size: 16px;
        }

        .mail-theme {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            input {
                margin-left: 3%;
                font-size: 18px;
                font-weight: 600;
                width: 97%;
            }
        }

        .mail-massage {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            textarea {
                margin-left: 3%;
                width: 97%;
                resize: none;
                height: 250px;
                padding: 12px;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            .exit{
                width: 100px;
                padding: 0;
                margin-right: 20px;
            }
            .send{
                padding: 0;
                width: 100px;
            }
            #send-form {
                height: 45px;
                padding: 0;
                background-color: rgb(117, 0, 251);
                box-shadow: 0 7px 10px rgba(148, 70, 238, 0.445);
                color: #fff;

                &:hover {
                    background-color: rgb(171, 97, 255);
                }
            }

            #exit {
                height: 45px;
                padding: 0;
                background-color: rgb(253, 50, 50);
                box-shadow: 0 7px 10px rgba(253, 50, 50, 0.466);
                color: #fff;

                &:hover {
                    background-color: rgb(253, 110, 110);
                }
            }
        }

        input[type="submit"] {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
            border: 1px solid transparent;
            font-size: 14px;
            
            transition: ease-in .2s;
            cursor: pointer;
        }
    }
}